.Toolbar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 90;
}
.Toolbar nav {
  height: 100%;
  padding-right: 16px;
}
.Logo {
  height: 80%;
}

/*  for  mobile @media (min-width: 499px) {
  .DesktopOnly {
    display: none;
  }
} */
